* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	border: none;
	background-color: transparent;
}

.container {
	margin: 0 auto;
	max-width: 1440px;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-areas:
		"options main"
}